body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-name: mymove;
  background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation-duration: 5s;
}

@keyframes mymove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

main {
  flex: 2;
}

section {
  max-width: 800px;
  margin: 50px auto;
}
